
.connexion-principale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90.5vh;
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    font-family: "Fuzzy Bubbles", sans-serif;
}
.connexion-principale h1 {
    color: purple;
    font-size: 1em;
    margin-bottom: 20px;
    margin: 0;
}
.titre-site {
    color: purple;
    font-size: 2em;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 2px solid hsl(226, 7%, 38%);
    border-radius: 10px;
    padding: 10px;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 0 0 10px 0 hsl(225, 7%, 24%);
    width: 400px;
}

.titre-connexion {
    color: hsl(226, 7%, 38%);
    font-size: 1.5em;
    margin-bottom: 20px;
}

.input-submit {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    margin-left: 25% !important;
    width: 50%;
    background-color: hsl(0, 0%, 95%) !important;
    color: hsl(226, 7%, 38%) !important;
    border: 2px solid hsl(226, 7%, 38%) !important;
    border-radius: 5px !important;
    font-size: 1em !important;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Fuzzy Bubbles", sans-serif !important;
}


.connexion {
    background-color: hsl(0, 0%, 95%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 hsl(225, 7%, 24%);
    color: hsl(226, 7%, 38%);
    width: 400px;
    border: 2px solid hsl(226, 7%, 38%);
    text-align: start;
}  

.connexion label {
    font-size: 1em;
    padding-inline: 10px;
}

.input-position{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.connexion input {
    padding: 5px;
    margin: 5px 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid hsl(226, 7%, 38%);
    background-color: white;
    color:hsl(226, 7%, 38%);
    /* margin-left: 50px; */
}


.connexion form {
    display: flex;
    flex-direction: column;
}
  
.connexion label {
    margin: 10px 0;
}