.App{  
  overflow: hidden;
  margin: 0;
  width: 100%;
  display: flex;
  height: 100%;
  /* flex-direction: column; */
}
.content{
  overflow: hidden;
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: lightblue; */
}
ul{
  /* height: 100px; */
  margin: 0;
  padding: 0;
  display: FLEX;
  flex-direction: column;
  flex-wrap: wrap;
  /* gap: 20px; */
  
}
li{

  list-style: none;
}
.nav li{
  height:fit-content;
  display: flex;
  justify-content: center;
  text-align: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.295);
}
ul .Link :nth-child(1){
  padding: 10px 0;
}
.Link{
  height: 90px;
  width: 100%;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: Purple;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  &:hover{
    background-color:rgba(134, 134, 134, 0.418);
  }
}
.Link2{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: Purple;
  display: flex;
  align-items: center;
}
.nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  height: 100dvh;
  flex-wrap: wrap;
  width: fit-content;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.295);
}
.logosite{
  height: 80px;
  width: 80px;
}
.login_top{
  width: 800%;
  height: 110px;
  display: flex;
  justify-content: center;
  /* padding: 10px 0; */
  background-color: white;
}
.login-test{
  border-bottom: 1px solid rgba(0, 0, 0, 0.295);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logositeimg{
  height: 90px;
  width: 90px;
  margin: 0 20px;
}

.test-panier{
  gap: 20px;
}

.login-panier{
  display: flex;
  justify-content: right;
  align-items: center;
  width: 70%;
  padding: 10px 20px;
  background-color: white;
  gap: 1%;
}

.title{
  font-size: 30px;
  font-weight: bold;
  color: purple;
  text-align: center;
  margin: 20px 0;
  margin-left: 30px;
}

.button-login{
  padding: 10px 20px;
  background: none;
  color: hsl(226, 7%, 38%);
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Fuzzy Bubbles", sans-serif;
  & a {
    text-decoration: none;
    color: hsl(226, 7%, 38%);
  }
}

.button-panier{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: none;
  color: hsl(226, 7%, 38%);
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Fuzzy Bubbles", sans-serif;
  & a {
    text-decoration: none;
    color: hsl(226, 7%, 38%);
  }
}

.button-panier img{
  height: 50px;
  width: 50px;
}
.div_top_all{
  height: 100%;
  width: 100%;
  /* background-color: red; */
}
.zone_affichage{
  height: 87dvh;
  width: 100%;
  /* background-color: green; */
}

.utilisateur{
  font-size: 1.5em;
  font-weight: bold;
  color: purple;
  margin-left: 2%;
}